<%- include("partials/header"); %>

<body>

    <div class="zaglavlje">
        <div class="zaglavlje_sadrzaj" id="logo">
            <a href="/home/getCategories">
                <img src="/images/logo.png" title="glavna stranica" />
            </a>
        </div>
        <div class="zaglavlje_sadrzaj" id="nazivkat">Košarica</div>
        <div class="zaglavlje_sadrzaj" id="kosr_i_pretr">
            <div id="kosr_ik" class="kosr_i_pretr">
                <a href="/cart"><img src="/images/kosarica.png" class="kosr_i_pretr" title="košarica" /></a>
                <div id="kosr_brojac">
                    <%= total_amount %>
                </div>
            </div>
            <div class="kosr_i_pretr">
                <img src="/images/pretrazivanje.png" class="kosr_i_pretr" />
            </div>
        </div>
    </div>

    <div class="kosr_proizvodi" id="kosr_proizvodi">
        <% for (let i = 0; i < distinct_products.length; i++) { %>
            <div class="kosr_proizvod">
                <div class="kosr_proizvod_naziv">
                    <%= product_names[i] %>
                </div>
                <form action=<%= "/cart/add/:" + distinct_products[i] %> method="POST">
                    <input type="submit" value="dodaj" class="kosr_proizvod_dodaj" id=<%= distinct_products[i] %>>
                </form>
                <div class="kosr_proizvod_brojac" id=<%= "br_" + distinct_products[i] %>>
                    <%= amounts[distinct_products[i]] %>
                </div>
                <form action=<%= "/cart/remove/:" + distinct_products[i] %> method="DELETE">
                    <input type="submit" value="makni" class="kosr_proizvod_makni" id=<%= distinct_products[i] %>>
                </form>
            </div>
        <% } %>
    </div>

    <script defer src="/scripts/cart.js"></script>

    <%- include("partials/footer"); %>
